@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.font {
  font-family: "Archivo Black", sans-serif;
  /* font-weight: 400; */
  /* font-style: normal; */
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.hbg {
  color: #393939;
}

.hbg2 {
  background-color: #393939d2;
}

.hbg3 {
  background-color: #D1D0C5;
}


body {
  background: #C3CEE0;
}