@tailwind base;
@tailwind components;
@tailwind utilities;

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.hbg {
  color: #393939;
}

.hbg2 {
  background-color: #393939d2;
}

.hbg3 {
  background-color: #D1D0C5;
}


body {
  background: #C3CEE0;
}